<!DOCTYPE HTML>
<html>

<head>
    <title>Render Farm</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename="main.css")}}>
</head>

<body>
    <div class="container">
        <h1>Render Farm</h1>

        <div hx-get="/partials/workers" hx-trigger="load, every 5s" hx-swap="innerHTML">
            {% include 'partials/workers.html' %}
        </div>

        <div hx-get="/partials/projects" hx-trigger="load" hx-swap="innerHTML">
        </div>

        <div hx-get="/partials/jobs" hx-trigger="load, every 3s" hx-swap="innerHTML">
            {% include 'partials/jobs.html' %}
        </div>
    </div>
</body>

</html>
